:root {
    --mainColor: #fafafa;
    --formColor: white;
    --secondaryColor: #ff0000;
    --terciaryColor: #3B4CCA;
    --formPadding: 16px;
    --errorColor: #ff0033;
    --borderRadius: 4px;
    --cardWidth: 150px;
    --cardHeight: 100px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Open Sans';
}

/* body {
    
} */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    background: var(--mainColor);
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25%;
    height: 380px;
    padding: var(--formPadding);
    background: var(--formColor);
    color: #0a0a0a;
    border-radius: var(--borderRadius);
}

.logInForm {
    height: 380px;
}
.signInForm {
    height: 420px;
}


.form h2 {
    font-size: 30px;
    background: var(--secondaryColor);
    color: #fafafa;
    width: calc(100% + var(--formPadding) * 2);
    position: relative;
    right: var(--formPadding);
    bottom: var(--formPadding);
    padding: 14px;
    padding-left: var(--formPadding);
    border-radius: 4px 4px 0 0;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .2);
}

.form h3 {
    font-size: 22px;
}

.campos {
    position: relative;
    bottom: 12px;
}

.formCampo {
    display: flex;
    flex-direction: column;
    margin: 8px 0;
}

/* .formCampo .errorBlock {
    position: absolute;
    right: -180px;
    width: 150px;
    height: 50px;
    padding: 2px 12px;
    background: var(--errorColor);
    font-size: 13px;
    color: #fafafa;
    border-radius: 4px;
}

.formCampo .errorBlock::before {
    --ladoCuadrado: 10px;
    content: "";
    position: relative;
    top: calc(50% - 5px);
    left: calc(var(--ladoCuadrado)*-.75);
    transform: rotate(45deg);
    display: block;
    width: var(--ladoCuadrado);
    height: var(--ladoCuadrado);
    background: var(--errorColor);
} */

.form label {
    position: relative;
    padding-left: 2px;
    top: 4px;
    font-size: 12px;
    color: #888;
}

.form input {
    outline: none;
    padding: 4px 2px;
    font-size: 14px;
    border: none;
    border-bottom: 2px solid #0a0a0a;
    transition: 250ms ease all;
}

/*  .logInForm input::after {
    position: relative;
    left: 200px;
    content: "";
    width: 500px;
    height: 500px;
    background: green;
    z-index: 2;
} */

.form input:focus {
    border-bottom: 2px solid var(--terciaryColor);
}

.buttons {
    display: flex;
    flex-direction: column;
}

.formBtn {
    padding: 8px;
    outline: none;
    border: none;
    border-radius: var(--borderRadius);
    cursor: pointer;
    font-size: 16px;
    background: var(--terciaryColor);
    color: #fafafa;
    font-weight: bold;
    letter-spacing: 1px;
}

.formBtn:hover {
    background: #485bee;
}

.logInLink, .signInLink {
    font-size: 13px;
    text-align: center;
    margin-top: 10px;
    color: #0a0a0a;
}

.pokedexContainer {
    width: 60%;
    border-radius: var(--borderRadius);
    margin: 60px auto;
}

.contenedorPokedex {
    display: flex;
}

.barraLateral {
    width: 25%;
    display: flex;
    padding: 0 8px;
    justify-content: center;
}

.barraLateral a {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 10px;
    position: sticky;
    text-decoration: none;
    color: #fafafa;
    background: var(--terciaryColor);
    padding: 8px;
    height: 48px;
    width: 100%;
    border-radius: var(--borderRadius);
}

.pokedex {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--cardWidth), 1fr));
    padding: 16px;
    gap: 12px;
    width: 100%;
    min-height: 300px;
    background: var(--secondaryColor);
    border-radius: 0 0 var(--borderRadius) var(--borderRadius);
}

.pokedexContainer h1, .pokedexContainer .pokedex {
    padding: 16px 24px;
}

.pokemonCard {
    width: 100%;
    position: relative;
    min-height: var(--cardHeight);
    background: #fafafa;
    padding: 10px;
    border-radius: var(--borderRadius);
    display: inline-block;
    transition: 200ms ease all;
}

.pokemonCard:hover {
    background: var(--terciaryColor);
    color: #fafafa;
    cursor: pointer;
    bottom: 5px;
}

.pokemonCard img {
    width: 100%;
    border-radius: var(--borderRadius);
}

.pokemonCard h3 {
    text-align: center;
}

.sombra {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .25),
    15px 15px 40px rgba(0, 0, 0, .1);
}